# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=crawler_db

# Kafka Configuration
KAFKA_HOST=localhost
KAFKA_PORT_1=9092
KAFKA_PORT_2=9093
KAFKA_PORT_3=9094
KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9093,localhost:9094

# External Services Ports
DISCOVERY_PORT=8081
FETCHER_PORT=8082
PROCESSOR_PORT=8083
PARSER_PORT=8084
SENSOR_PORT=8085

# UI Tools Ports
KAFDROP_PORT=9000
PGADMIN_PORT=8088
SCHEMA_REGISTRY_PORT=8087
DEBEZIUM_PORT=8089

# Mock Service Settings
PARSER_URL=http://localhost:8084/api/v1/parser/process
SENSOR_URL=http://localhost:8085/api/v1/sensor/inspect
PARSER_FAIL_RATE=0.25
SENSOR_FAIL_RATE=0.25

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_TTL=30

# Docker Configuration
DOCKER_USERNAME=feeham
